node_modules
client/node_modules
server/node_modules
packages/database/prisma/node_modules
scripts/node_modules

dist
client/build
client/dist
server/dist

coverage
tests

*.env
*.sqlite
packages/database/prisma/dev.db
